
<body>    
    <div class="formulario">
        <div class="row">
            <form [formGroup]="fgValidator" (ngSubmit)="EditarProducto()" method="POST" class="col s12">
                <input type="hidden" formControlName="id">
                <h3>Modificar Sucursal</h3>
                <div class="row">
                    <div class="input-field col s4">
                        <input formControlName="departamento" type="text" name="departamento" class="validate" required>
                        <label for="departamento" class="active">Departamento</label>
                    </div> 
                    <div class="input-field col s4">
                        <input formControlName="ciudad" type="text" name="ciudad" class="validate" required>
                        <label for="ciudad"class="active">Ciudad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input formControlName="direccion" type="text" name="direccion" class="validate" required>
                        <label for="direccion"class="active">Direccion</label>
                    </div>
                    <div class="input-field col s4">
                        <input formControlName="telefono" type="text" name="telefono" class="validate" required>
                        <label for="telefono"class="active">Telefono</label>
                    </div>
                </div>               
                
                <button [disabled]="!fgValidator.valid" class="btn waves-effect waves-light" type="submit" name="action">Modificar Sucursal<i class="material-icons right">send</i>
                  </button>
            </form>
        </div> 
    </div>  
</body>

