<table class="table responsive">
    <thead>
        <tr>
            <th>
                Tipo
            </th>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.tipo}}
            </td>
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.descripcion}}
            </td>
            <td>
                {{p.precio}}
            </td>
        </tr>
    </tbody>
</table>