<table class="table responsive">
    <thead>
        <tr>
            <th>
                Departamento
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Direccion
            </th>
            <th>
                Telefono
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of listadoRegistro">
            <td>
                {{s.departamento}}
            </td>
            <td>
                {{s.ciudad}}
            </td>
            <td>
                {{s.direccion}}
            </td>
            <td>
                {{s.telefono}}
            </td>
            <td>
                <a routerLink="/sucursales/editarSucursal/{{s.id}}" class="btn">Editar</a>
            </td>
        </tr>
    </tbody>

</table>

<a routerLink="/sucursal/registrarSucursal" class="btn">Nueva Sucursal</a>